@font-face {
    font-family: 'NanumGothic';
    src: url('/fonts/NanumGothic.woff2') format('woff2'), /* 또는 다른 형식 */
    url('/fonts/NanumGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}