<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="aside">
    <ul>
        <!-- note icon start -->
        <li style="display: none">
            <a href="">
                <img src="/image/img_pen.png" alt="">
            </a>
        </li>
        <!-- note icon end -->

        <!-- chat icon start -->
<!--        <li>-->
<!--            <a href="javascript:void(0);" onclick="toggleChatbot()">-->
<!--                <img src="/image/img_chat.png" alt="Chat Icon">-->
<!--            </a>-->
<!--        </li>-->

        <li class="chat_btn">
            <button type="button" th:data-user-id="${book.userId}" th:data-book-id="${book.bookId}">
                <img src="/image/img_chat.svg" alt="챗봇 이동 버튼">
            </button>
        </li>
        <!-- chat icon end -->
    </ul>

    <div class="chat_area small"></div>

    <script th:src="@{/js/chatbot.js}"></script>

</aside>