<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="aside">
    <ul>
        <!-- note icon start -->
        <li style="display: none">
            <a href="">
                <img src="/image/img_pen.png" alt="">
            </a>
        </li>
        <!-- note icon end -->

        <!-- chat icon start -->
        <li>
            <a th:href="@{/page/chat}">
                <img src="/image/img_chat.png" alt="">
            </a>
        </li>
        <!-- chat icon end -->
    </ul>
</aside>