<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title th:text="'마이페이지' ?: 'PDF-Playground'">Layout</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container d-flex justify-content-center align-items-center flex-direction-column">
        <div class="col-lg-6 col-12 my-5">
            <div class="w-100">
                <h1 class="fw-bold mb-4 text-center">마이페이지</h1>

                <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

                <div th:if="${user}" class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">이름</label>
                            <div class="form-control" th:text="${user.userName}"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">이메일</label>
                            <div class="form-control" th:text="${user.userEmail}"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">전화번호</label>
                            <div class="form-control" th:text="${user.userPhoneNumber}"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">생년월일</label>
                            <div class="form-control" th:text="${#temporals.format(user.userBirthDate, 'yyyy / MM / dd')}"></div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">직업</label>
                            <div class="form-control" th:text="${user.userJob}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>