<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title th:text="'아이디 찾기' ?: 'PDF-Playground'">Layout</title>
    <script th:src="@{/js/effectiven.js}"></script>
</head>

<div layout:fragment="content">
    <div class="container">
        <div class="d-flex ali justify-content-center">
            <div class="col-lg-6 my-5">
                <h1 class="fw-bold mb-4 text-center">아이디 찾기</h1>

                <div class="card">
                    <div class="card-body">
                        <form id="form_area" action="/find-id-success" method="post">
                            <div class="mb-3">
                                <label class="form-label" for="name">이름 <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력해주세요." required >
                                <div class="invalid-feedback" id="nameError"></div>
                                <div class="valid-feedback" id="nameSuccess"></div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="email">이메일</label>
                                <div class="d-flex gap-2">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="example@email.com" required >
                                    <button type="button" class="btn btn-outline-secondary" id="sendVerificationCodeBtn" style="width: 160px;" >인증번호 발송</button>
                                </div>
                                <div class="invalid-feedback" id="emailError"></div>
                                <div class="valid-feedback" id="emailSuccess"></div>
                            </div>

                            <div class="mb-3" id="verificationCodeSection" style="display: none">
                                <label class="form-label" for="verificationCode">인증번호 입력</label>
                                <div class="input-group">
                                    <input class="form-control" id="verificationCode" type="text" placeholder="인증번호를 입력하세요">
                                    <button class="btn btn-outline-primary" id="verifyCodeBtn" type="button">인증번호 확인</button>
                                </div>
                                <div class="mt-2" id="codeVerificationMessage"></div>
                            </div>

                            <button type="submit" id="formBtn" class="btn btn-primary w-100 mt-5">아이디 찾기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>